<div class="latest campaign">
  <div class="container">
    <h2 class="title">Descubrir Campañas</h2>
    <div class="campaign-tabs filter-theme">
      <!--<button class="button " data-filter=".filterinteresting">Nuevas</button>-->
      <button class="button" data-filter=".filtersuccessful">Exitosas</button>
      <button class="button" data-filter=".filterpopular">Populares</button>
      <button class="button is-checked" data-filter=".filterlatest">Ultimas</button>
    </div>
    <div class="campaign-content grid">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterpopular filterlatest">
          <div class="campaign-item">
            <a class="overlay" routerLink="/campaign/1">
              <img src="assets/images/placeholder/vaquita_cambio.png" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Comunidad</a>
              <h3><a routerLink="/campaign/1">Vaquita App</a></h3>
              <div class="campaign-description">Ayudanos a mantener la plataforma en funcionamiento</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a> <a class="author-name" href="#">Vaquita App</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$100</span></div>
                  <div class="process-funded"><span>0%</span></div>
<!--                  <div class="process-time"><span>2</span>days ago</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
       <!-- <div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterlatest">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/emma.jpeg" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Salud</a>
              <h3><a href="campaign_detail.html">Todos por Emmita</a></h3>
              <div class="campaign-description">Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Samino</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$370</span>pledged</div>
                  <div class="process-funded"><span>9%</span>funded</div>
                  <div class="process-time"><span>9</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <!--<div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterpopular">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/comunidad.jpeg" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Educación</a>
              <h3><a href="campaign_detail.html">Ayuda a la educación rural</a></h3>
              <div class="campaign-description">Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$610</span>pledged</div>
                  <div class="process-funded"><span>73%</span>funded</div>
                  <div class="process-time"><span>14</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <!--<div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterlatest">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/matias.jpeg" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Solidaridad</a>
              <h3><a href="campaign_detail.html">Ayudemos a Mathias</a></h3>
              <div class="campaign-description">Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$3670</span>pledged</div>
                  <div class="process-funded"><span>58%</span>funded</div>
                  <div class="process-time"><span>21</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <!--<div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/joaquin.jpeg" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Salud</a>
              <h3><a href="campaign_detail.html">Todos por Joaquin</a></h3>
              <div class="campaign-description">Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Sabato Alterio</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$1950</span>pledged</div>
                  <div class="process-funded"><span>70%</span>funded</div>
                  <div class="process-time"><span>23</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
<!--        <div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterpopular">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/madres.png" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Solidaridad</a>
              <h3><a href="campaign_detail.html">Madres de la Trata</a></h3>
              <div class="campaign-description">Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Samino</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$3900</span>pledged</div>
                  <div class="process-funded"><span>69%</span>funded</div>
                  <div class="process-time"><span>33</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
    <div class="latest-button"><a href="#" class="btn-primary">+ CAMPAÑAS</a></div>
  </div>
</div><!-- .latest -->
