<div class="latest campaign">
  <div class="container">
    <h2 class="title">Descubrir Campañas</h2>
    <div class="campaign-tabs filter-theme">
      <button class="button is-checked" data-filter=".filterinteresting">Interesting</button>
      <button class="button" data-filter=".filtersuccessful">Successful</button>
      <button class="button" data-filter=".filterpopular">Popular</button>
      <button class="button" data-filter=".filterlatest">Latest</button>
    </div>
    <div class="campaign-content grid">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterpopular filterlatest">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/370x240.png" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Crafts</a>
              <h3><a href="campaign_detail.html">The Oreous Pillow</a></h3>
              <div class="campaign-description">A watch designed to be an heirloom to be passed down to the next generation.</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Sabato Alterio</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$630</span>pledged</div>
                  <div class="process-funded"><span>26%</span>funded</div>
                  <div class="process-time"><span>2</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterlatest">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/370x240.png" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Book</a>
              <h3><a href="campaign_detail.html">The Everlast Notebook</a></h3>
              <div class="campaign-description">One smart, reusable notebook to last the rest of your life? That's not magic, that's the Everlast.</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Samino</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$370</span>pledged</div>
                  <div class="process-funded"><span>9%</span>funded</div>
                  <div class="process-time"><span>9</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterpopular">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/370x240.png" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Perfomances</a>
              <h3><a href="campaign_detail.html">Uncompromising Ski Gear</a></h3>
              <div class="campaign-description">The Orsden Slope Pants don't compromise delivering performance, fit, and value directly to you</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$610</span>pledged</div>
                  <div class="process-funded"><span>73%</span>funded</div>
                  <div class="process-time"><span>14</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterlatest">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/370x240.png" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Technology</a>
              <h3><a href="campaign_detail.html">Smart Wallet with Solar Charge</a></h3>
              <div class="campaign-description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings.</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$3670</span>pledged</div>
                  <div class="process-funded"><span>58%</span>funded</div>
                  <div class="process-time"><span>21</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/370x240.png" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Technology</a>
              <h3><a href="campaign_detail.html">Redefine Your VR Experience</a></h3>
              <div class="campaign-description">I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Sabato Alterio</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$1950</span>pledged</div>
                  <div class="process-funded"><span>70%</span>funded</div>
                  <div class="process-time"><span>23</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterpopular">
          <div class="campaign-item">
            <a class="overlay" href="campaign_detail.html">
              <img src="assets/images/placeholder/370x240.png" alt="">
              <span class="ion-ios-search-strong"></span>
            </a>
            <div class="campaign-box">
              <a href="#" class="category">Design &amp; Art</a>
              <h3><a href="campaign_detail.html">Bring back Fun House</a></h3>
              <div class="campaign-description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</div>
              <div class="campaign-author"><a class="author-icon" href="#"><img src="assets/images/placeholder/35x35.png" alt=""></a>by <a class="author-name" href="#">Samino</a></div>
              <div class="process">
                <div class="raised"><span></span></div>
                <div class="process-info">
                  <div class="process-pledged"><span>$3900</span>pledged</div>
                  <div class="process-funded"><span>69%</span>funded</div>
                  <div class="process-time"><span>33</span>days ago</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="latest-button"><a href="#" class="btn-primary">View all Campaigns</a></div>
  </div>
</div><!-- .latest -->
