<div class="project-love">
  <div class="container">
    <h2 class="title">Emponderá Nuevos Proyectos</h2>
    <div class="description">Encontra nuevos proyectos donde poder ayudar.</div>
    <div class="tab-menu tab-row">
      <ul id="bx-pager" class="menu-category">
        <li class="mc-option active" data-tab="pp0"><a href="#" data-slide-index="0">Salud</a></li>
        <li class="mc-option" data-tab="pp1"><a href="#" data-slide-index="1">Educación</a></li>
        <li class="mc-option" data-tab="pp2"><a href="#" data-slide-index="2">Comederos</a></li>
        <li class="mc-option" data-tab="pp3"><a href="#" data-slide-index="3">Comunidad</a></li>
        <li class="mc-option" data-tab="pp4"><a href="#" data-slide-index="4">Deporte</a></li>
        <li class="mc-option" data-tab="pp5"><a href="#" data-slide-index="5">Trans</a></li>
        <li class="cat-more"><a href="explore_layout_one.html">More</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="popular-project">
          <div id="pp0" class="pp-item active">
            <img src="images/assets/book-bookmark.svg" alt="">
            <h4>290+ Project Book</h4>
          </div>
          <div id="pp1" class="pp-item">
            <img src="images/assets/manga-62.svg" alt="">
            <h4>290+ Project Comics</h4>
          </div>
          <div id="pp2" class="pp-item">
            <img src="images/assets/needle.svg" alt="">
            <h4>290+ Project Crafts</h4>
          </div>
          <div id="pp3" class="pp-item">
            <img src="images/assets/responsive.svg" alt="">
            <h4>290+ Project Design & Art</h4>
          </div>
          <div id="pp4" class="pp-item">
            <img src="images/assets/dress-woman.svg" alt="">
            <h4>290+ Project Fashion</h4>
          </div>
          <div id="pp5" class="pp-item">
            <img src="images/assets/video-66.svg" alt="">
            <h4>290+ Project Film & Video</h4>
          </div>
          <div id="pp6" class="pp-item">
            <img src="images/assets/soup.svg" alt="">
            <h4>290+ Project Food</h4>
          </div>
          <div id="pp7" class="pp-item">
            <img src="images/assets/note-04.svg" alt="">
            <h4>290+ Project Music</h4>
          </div>
          <div id="pp8" class="pp-item">
            <img src="images/assets/controller-3.svg" alt="">
            <h4>290+ Project Games</h4>
          </div>
          <div id="pp9" class="pp-item">
            <img src="images/assets/guitar.svg" alt="">
            <h4>290+ Project Performances</h4>
          </div>
          <div id="pp10" class="pp-item">
            <img src="images/assets/printer.svg" alt="">
            <h4>290+ Project Publishing</h4>
          </div>
          <p>Discover projects just for you and get great recommendations when you select your interests.</p>
          <a href="create_a_campaign.html" class="btn-primary">Start a Campaign</a>
        </div>
      </div>
      <div class="col-lg-8">
        <ul class="project-love-slider pls-col">
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Book</a>
                <h3><a href="campaign_detail.html">The Everlast Notebook</a></h3>
                <div class="project-love-description">One smart, reusable notebook to last the rest of your life? That's not magic, that's the Everlast.</div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$5000</span>pledged</div>
                    <div class="process-funded"><span>41%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Comics</a>
                <h3><a href="campaign_detail.html">Bike as a Mobile Art Gallery</a></h3>
                <div class="project-love-description">He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$10000</span>pledged</div>
                    <div class="process-funded"><span>81%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Crafts</a>
                <h3><a href="campaign_detail.html">The Oreous Pillow</a></h3>
                <div class="project-love-description">A watch designed to be an heirloom to be passed down to the next generation.</div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$10000</span>pledged</div>
                    <div class="process-funded"><span>81%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Design & Art</a>
                <h3><a href="campaign_detail.html">Bring back Fun House</a></h3>
                <div class="project-love-description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$10000</span>pledged</div>
                    <div class="process-funded"><span>81%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Fashion</a>
                <h3><a href="campaign_detail.html">Bike as a Mobile Art Gallery</a></h3>
                <div class="project-love-description">He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$10000</span>pledged</div>
                    <div class="process-funded"><span>81%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Film & Video</a>
                <h3><a href="campaign_detail.html">Bike as a Mobile Art Gallery</a></h3>
                <div class="project-love-description">He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$10000</span>pledged</div>
                    <div class="process-funded"><span>81%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Food</a>
                <h3><a href="campaign_detail.html">Bike as a Mobile Art Gallery</a></h3>
                <div class="project-love-description">He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$10000</span>pledged</div>
                    <div class="process-funded"><span>81%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Music</a>
                <h3><a href="campaign_detail.html">Bike as a Mobile Art Gallery</a></h3>
                <div class="project-love-description">He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$10000</span>pledged</div>
                    <div class="process-funded"><span>81%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Games</a>
                <h3><a href="campaign_detail.html">Redefine Your VR Experience</a></h3>
                <div class="project-love-description">I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.</div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$10000</span>pledged</div>
                    <div class="process-funded"><span>81%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Performances</a>
                <h3><a href="campaign_detail.html">Uncompromising Ski Gear</a></h3>
                <div class="project-love-description">The Orsden Slope Pants don't compromise delivering performance, fit, and value directly to </div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$10000</span>pledged</div>
                    <div class="process-funded"><span>81%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="project-love-item clearfix">
              <a class="project-love-image" href="campaign_detail.html"><img src="images/placeholder/470x340.png" alt=""></a>
              <div class="project-love-item-content project-love-box">
                <a href="#" class="category">Publishing</a>
                <h3><a href="campaign_detail.html">Bike as a Mobile Art Gallery</a></h3>
                <div class="project-love-description">He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</div>
                <div class="project-love-author">
                  <div class="author-profile">
                    <a class="author-avatar" href="#"><img src="images/placeholder/40x40.png" alt=""></a>by <a class="author-name" href="#">Andrew Noah</a>
                  </div>
                  <div class="author-address"><span class="ion-location"></span>Melbourne, Victoria, AU</div>
                </div>
                <div class="process">
                  <div class="raised"><span></span></div>
                  <div class="process-info">
                    <div class="process-pledged"><span>$10000</span>pledged</div>
                    <div class="process-funded"><span>81%</span>funded</div>
                    <div class="process-time"><span>37</span>backers</div>
                    <div class="process-time"><span>23</span>days ago</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div><!-- .project-love -->
