<div class="how-it-work">
  <div class="container">
    <h2 class="title">¿Cómo funciona?</h2>
    <div class="description"></div>
    <div class="row">
      <div class="col-lg-4">
        <div class="item-work">
          <div class="item-icon"><span>01</span><i class="fa fa-heart" aria-hidden="true"></i></div>
          <div class="item-content">
            <h3 class="item-title">Creá una campaña</h3>
            <div class="item-desc"><p>Publica tu campaña, el objetivo y el monto que necesitas para alcanzar ese objetivo. </p></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item-work">
          <div class="item-icon"><span>02</span><i class="fa fa-hashtag" aria-hidden="true"></i></div>
          <div class="item-content">
            <h3 class="item-title">Compartilo en Redes Sociales</h3>
            <div class="item-desc"><p>Compartilo en todas tus redes sociales para que llegue a más personas. </p></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item-work">
          <div class="item-icon"><span>03</span><i class="fa fa-money" aria-hidden="true"></i></div>
          <div class="item-content">
            <h3 class="item-title">Fondeo</h3>
            <div class="item-desc"><p>Recibí las donaciones a través de Mercado Pago.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- .how-it-work -->
