<div class="how-it-work">
  <div class="container">
    <h2 class="title">¿Cómo funciona?</h2>
    <div class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</div>
    <div class="row">
      <div class="col-lg-4">
        <div class="item-work">
          <div class="item-icon"><span>01</span><i class="fa fa-flask" aria-hidden="true"></i></div>
          <div class="item-content">
            <h3 class="item-title">Descubrir Ideas</h3>
            <div class="item-desc"><p>Explora todos las casos donde podes colaborar.</p></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item-work">
          <div class="item-icon"><span>02</span><i class="fa fa-leaf" aria-hidden="true"></i></div>
          <div class="item-content">
            <h3 class="item-title">Crear una Campaña</h3>
            <div class="item-desc"><p>Publica tu campaña, el objetivo y el monto necesario, y compartilo en tus redes sociales. </p></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item-work">
          <div class="item-icon"><span>03</span><i class="fa fa-money" aria-hidden="true"></i></div>
          <div class="item-content">
            <h3 class="item-title">Fondeo</h3>
            <div class="item-desc"><p>Apoya con una pequeña contribución a aquellos que más lo necesitan.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- .how-it-work -->
